<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/output.css">
    <link rel="stylesheet" href="style.css">
</head>
<body id="body" class="scroll-smooth">									
		<!-- SECTION1 INTRO	SECTION1 INTRO    SECTION1 INTRO	SECTION1 INTRO	SECTION1 INTRO -->
    <section id="section1" class="w-full h-screen flex-col md:gap-10  items-center flex bg-red-700 bg-cover bg-center bg-no-repeat" style="background-image: url(../src/img/bible1.jpeg);">
        <div class="items-center justify-between bg-black/30 rounded-3xl backdrop-blur-2xl flex gap-2 w-[350px] mt-15 h-[50px] md:w-[30%] md:h-[10vh]">
			<div id="retour3" class="ml- w-[50px] h-[50px] border rounded-[50%]  font-bold text-3xl text-white flex items-center justify-center "><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
	<path d="M0 0h24v24H0z" fill="none" />
	<path fill="#fff" d="M20 11v2H8l5.5 5.5l-1.42 1.42L4.16 12l7.92-7.92L13.5 5.5L8 11z" />
</svg>
</div>
			<div class=" font-bold text-2xl text-yellow-500 hover:cursor-default mr-20 md:mr-23">Choix du niveau</div>
		</div>
        <div id="" class="grid mt-30 md:mt-0 border-0 border-l-0 border-r-0 bg-black/30  grid-cols-2 gap-3 grid-rows-2 w-[350px] h-[300px] backdrop-blur-2xl rounded-2xl p-4 md:w-[40%] md:h-[55vh]">
            <div id="Faciles" class=" flex items-center justify-center rounded-2xl border border-amber-400 border-l-0 border-r-0 backdrop-blur-3xl text-white font-bold text-[20px]  ">Faciles</div>
            <div id="Moyennes" class=" flex items-center justify-center rounded-2xl border border-amber-400 border-l-0 border-r-0 backdrop-blur-3xl text-white font-bold text-[20px] ">Moyennes</div>
            <div id="Difficiles" class="flex items-center justify-center rounded-2xl border border-amber-400 border-l-0 border-r-0 backdrop-blur-3xl text-white font-bold text-[20px] ">Difficiles</div>
        </div>    
    </section>

    <script src="./niveau.js"></script>
</body>
</html>