<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/output.css">
</head>
<body>
<section id="section2" class=" md:w-full h-screen bg-red-700 flex flex-col gap-5 items-center bg-cover bg-center bg-no-repeat" style="background-image: url(../src/img/bible1.jpeg);">
		<div class="items-center justify-between bg-black/30 rounded-3xl backdrop-blur-2xl flex gap-2 w-[350px] mt-15 h-[50px] md:w-[30%] md:h-[10vh]">
			<div id="retour3" class="w-[50px] h-[50px] border rounded-[50%]  font-bold text-3xl text-white flex items-center justify-center "><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
	<path d="M0 0h24v24H0z" fill="none" />
	<path fill="#fff" d="M20 11v2H8l5.5 5.5l-1.42 1.42L4.16 12l7.92-7.92L13.5 5.5L8 11z" />
</svg>
</div>
			<div class=" font-bold text-2xl text-yellow-500 hover:cursor-default">Types de Questions</div>
			<div id="info" class="w-[50px] h-[50px] border rounded-[50%]  font-bold text-3xl text-white flex items-center justify-center font-serif hover:cursor-default">i</div>
		</div>
		<div class="items-center md:pl-4 justify-center rounded-3xl backdrop-blur-2xl  grid grid-cols-2 grid-rows-2 gap-4 w-[350px] mt-10 h-[350px] md:w-[30%] md:h-[60vh] ">
			<div id="Personnages" class="theme border border-amber-400 border-l-0 border-r-0 backdrop-blur-3xl bg-black/40 flex items-center justify-center  rounded-2xl  w-40 h-28 mt-5 font-bold text-2xl text-white hover:cursor-default">
				<div class="flex justify-center items-center"></div>
				<p class="font-bold text-white/90 hover:cursor-default">Personnages</p>
			</div>
			<div id="Livres" class="theme border border-amber-400 border-l-0 border-r-0 backdrop-blur-3xl bg-black/40 flex items-center justify-center   rounded-2xl w-40 h-28 mt-5 font-bold text-2xl text-white hover:cursor-default">
				<div class="flex justify-center items-center"></div>
				<p class="font-bold text-white/90 hover:cursor-default">Livres</p>
			</div>
			<div id="Miracles" class="theme border border-amber-400 border-l-0 border-r-0 backdrop-blur-3xl bg-black/40 flex items-center justify-center   rounded-2xl w-40 h-28 mt-5 font-bold text-2xl text-white hover:cursor-default">
				<div class="flex justify-center items-center"></div>
				<p class="font-bold text-white/90 hover:cursor-default">Miracles</p>
			</div>
			<div id="Evenements" class="theme border border-amber-400 border-l-0 border-r-0 backdrop-blur-3xl bg-black/40 flex items-center justify-center  rounded-2xl w-40 h-28 font-bold mt-4 text-2xl text-white hover:cursor-default">
				<div class="flex justify-center items-center"></div>
				<p class="font-bold text-white/90 hover:cursor-default">Evenements</p>
			</div>
			<div id="Citations" class="theme border border-amber-400 border-l-0 border-r-0 backdrop-blur-3xl bg-black/40 flex items-center justify-center  rounded-2xl w-40 h-28 font-bold text-2xl text-white hover:cursor-default">
				<div class="flex justify-center items-center"></div>
				<p class="font-bold text-white/90 hover:cursor-default">Citations</p>
			</div>
			<div id="Histoires" class="theme border border-amber-400 border-l-0 border-r-0 backdrop-blur-3xl bg-black/40 flex items-center justify-center   rounded-2xl w-40 h-28 font-bold text-2xl text-white hover:cursor-default">
				<div class="flex justify-center items-center"></div>
				<p class="font-bold text-white/90 hover:cursor-default">Histoires</p>
			</div>
			
		</div>
	</section>
	<section id="section3" class="hidden md:w-full h-screen flex flex-col gap-5 items-center bg-cover bg-center bg-no-repeat" style="background-image: url(../src/img/bible1.jpeg);">
		<div id="" class="items-center justify-between bg-black/30 rounded-3xl backdrop-blur-2xl flex gap-2 w-[350px] mt-15 h-[50px] md:w-[30%] md:h-[10vh]">
			<div id="retour4" class="w-[50px] h-[50px] border rounded-[50%]  font-bold text-3xl text-white flex items-center justify-center "><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
	<path d="M0 0h24v24H0z" fill="none" />
	<path fill="#fff" d="M20 11v2H8l5.5 5.5l-1.42 1.42L4.16 12l7.92-7.92L13.5 5.5L8 11z" />
</svg>
</div>
			<div class=" font-bold text-2xl text-white hover:cursor-default mr-30">Information</div>
			
		</div>
		<div class="border border-amber-400 border-l-0 border-r-0 items-center md:pl-4 justify-center  rounded-3xl backdrop-blur-2xl flex flex-col gap-4 w-[350px] mt-10 h-[350px] md:w-[30%] md:h-[60vh] ">
            <h1 class="font-bold text-3xl  text-yellow-500 hover:cursor-default">Bienvenue !</h1>
			<p class="text-white  text-center font-stretch-20% hover:cursor-default">Dans cette section,tu choisis <br> le type de questions que tu souhaites <br> jouer</p>
		</div>
	</section>

    <script src="./typedequestions.js"></script>
</body>
</html>